<!DOCTYPE html>
html(lang="en-us")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' href='https://res.cloudinary.com/programathor/image/upload/c_fit,h_130,w_130/v1565711269/fx2yixnvyf29aftuq6mh.png')
    title Codeleap Front End test
  body
    main(id='codeleap-app')